#root {
  max-width: 1280px;
  padding: 2rem;
  text-align: center;
}

.weather-area {
  margin-top: 60px;
}

.next-forecast {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: linear-gradient(to right, #0d1270 10%, #0F1359 80%);
  width: 100%;
  max-width: 600px;
  border-radius: 2em;
  padding: 0 20px;
  font-size: 18px;
}

.weather-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
}

.weather-card p {
  margin: 0;
}

.cards-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 3em;
  gap: 40px;
}

.input-area {
  display: flex;
  gap: 10px;
  justify-content: center;
}

#temp {
  font-size: 40px;
}

#day {
  font-weight: bold;
}

.today-weather {
  display: flex;
  justify-content: space-evenly;
  margin: 30px 0;
}

.today.active {
  border: 2px solid #1848D9;
  border-radius: 10px;
  padding: 10px;
  background: rgba(0, 210, 255, 0.1);
}