@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Playwrite+CU+Guides&family=Playwrite+NZ+Basic+Guides&family=Playwrite+NZ+Basic:wght@100..400&family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap');

:root {
  font-family: "Nunito", sans-serif;
  line-height: 1.5;

  color-scheme: light dark;
  background-color: #171940;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2 {
  text-align: left;
  margin-left: 10rem;
  margin-bottom: 50px;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

input, button {
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 1em;
  border: none;
}

input {
  min-width: 250px;
  background: linear-gradient(to right, #0d1270 10%, #0F1359 80%);
}

input::placeholder {
  color: rgb(195, 192, 192);
}

button {
  border: 1px solid transparent;
  background-color: #1848D9;
  cursor: pointer;
  font-weight: 500;
}

button:hover {
  background-color: #5576D9;
}

